$primary-color: white;
$secondary-color: black;
$text-primary-color: gray;
$button-primary-color: #337AB7;
$background-color: rgb(200, 198, 198);
$secondary-background-color:#EEEEEE; 
$hover-background:rgb(228, 228, 228);