@import '../../styles/Styles.scss';

.sliders{
    @include displayStructure(flex, $flex-direction:column, $justify-content:center, $align-items:center, $text-align:center,$height:95vh);
    color: $primary-color;
    background-image: url(../../clipminepage/top-section_2180x750.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    .heading{ @include displayStructure($width: 50%,$font-size: 2.5rem) }
    .description{ @include displayStructure($max-width: 45%,$text-align: center)}
    .signup-button{
        @include displayStructure($margin-top:1rem,$width: 8rem, $padding:1rem 2rem);
        color: $primary-color;
        background-color: $button-primary-color;
        cursor: pointer; 
    }
}

@include breakpoint(Mobile){
    .sliders{
        background-size: 170% 100%;
        @include displayStructure($height:50vh);
        .heading{@include displayStructure($width:90%,$font-size: 1.5rem)}
        .description{ @include displayStructure($max-width: 85%,$text-align: center)}
        .signup-button{@include displayStructure($width:8rem,$padding:1rem 2rem, $font-size:0.7rem) }
    }
}

@include breakpoint(Tablet){
    .sliders{
        background-size: 170% 100%;
        @include displayStructure($height:55vh);
        .heading{@include displayStructure($width:70%,$font-size: 2rem)}
        .description{ @include displayStructure($max-width: 65%,$text-align: center)}
        .signup-button{@include displayStructure($width:8rem,$padding:1rem 2rem, $font-size:0.7rem ) }
    }

}
