@import '../../styles/Styles.scss';

.video-collections{ 
    @include displayStructure(flex, column,$justify-content: space-between,$align-items: center,$margin-top:5rem,$margin-bottom: 5rem,$height: 60vh);
    .heading{ @include displayStructure($font-size: 2.5rem,$max-width: 80%,$text-align: center);
    font-weight: bold;}

    .video-container{
        @include displayStructure(flex,row,$justify-content: space-between,$height:60%,$width: 70%,$font-size: 1.8rem,$text-align:center,$color: $primary-color);
        
        .startups{ 
        @include displayStructure($width: 45%);
        position: relative;
            background-image: url(../../clipminepage/collections/collection-startup_920x368.png);
            background-repeat: no-repeat;
            
        }
        .machineLearning{
            @include displayStructure($width: 45%);
            background-image: url(../../clipminepage/collections/collection-ml_922x368.png);
            background-repeat: no-repeat;
        }
    }
    .footer{
        @include displayStructure($max-width: 60%,$text-align: center);   
    }
}

@include breakpoint(Mobile){
    .video-collections{
        .heading{font-size: 2rem; height: 10rem;}
        .video-container{flex-direction: column; font-size: 1rem;
            .startups,.machineLearning{width: 100%;height: 45%}}
        .footer{
            @include displayStructure($max-width: 80%, $font-size:11px, $height:5rem, $margin-top:3rem);   
        }
    }
    
    
}

@include breakpoint(Tablet){
    .video-collections{
        .heading{font-size: 2rem; height: 10rem;}
        .video-container{ font-size: 1rem;}
        .footer{
            @include displayStructure($max-width: 80%, $font-size:11px, $height:5rem, $margin-top:3rem);   
        }
    }

}
@include breakpoint(LargeScreen){
    .video-collections{
        .heading{font-size: 3.5rem;}}
        .footer{font-size: 1.5rem; }
}