@import '../../styles/Styles.scss';

.navbar{
    @include displayStructure(flex,$align-items: center,$height: auto, $width: 100%);

        .logo{ @include displayStructure($height: 3rem,$width: 20%,$margin: 0.7rem)}

        .menu{
            @include displayStructure(flex,$align-items: center,$justify-content: space-between,$max-width: 100%);
        
            .menu-item{color: $text-primary-color; align-items: center; text-decoration: none }
            .menu-left{@include displayStructure(flex, $width: 25%, $justify-content: left, $text-align: center, $list-style: none);
                &open {
                    display: block;
                }}
            .menu-right {@include displayStructure(flex, $width: 25%, $list-style: none, $text-align: center,$margin: 0.7rem);
                &open {
                    display: block;
                }}
            
            .hamburger{
                display: none;
                cursor: pointer;
                appearance: none;
                background: none;
                outline: none;
                border: none;
                @include displayStructure($width:25px);
            }

                 .hamburger .bar, .hamburger:after, .hamburger:before{
                    content: '';
                    display: block;
                    width: 100%;
                    height: 3px;
                    background-color: $text-primary-color;
                    margin: 4px 0px;
                    transition: 0.4s;
                }
                .hamburger.open:before{
                    transform: rotate(-45deg) translate(-5px, 6px);
                    
                  }
                  .hamburger.open:after{
                    transform: rotate(45deg) translate(-3px, -5px);
                    
                  }
                  .hamburger.open .bar {
                    opacity: 0;
                  }
            
            
        
        }
}

.mobile-nav{
    display: block;;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    background-color:$secondary-background-color;
    margin-top: 4.3rem;
    transition: 0.4s;

    .mob-menu-item{
        display: block;
        color: $secondary-color;
        text-decoration: none;
        text-align: center;
        margin-bottom: 1rem;
        padding: 12px 16px;
        max-width: 200px;
        width: 100px;
        margin: 0 auto 1rem;

        &:hover{
            background-color: $hover-background;
            font-weight: bold;
        }
    }

}

@include breakpoint(Mobile){
    .navbar{
        @include displayStructure($flex-direction: row, $justify-content:space-between);

        .logo{ @include displayStructure($width:50%)}

        
        .menu{
            justify-content: flex-end;
            width: 50%;
            .menu-left,.menu-right{
                display: none;
            }
            .hamburger{
                display: block;
                margin-right: 1rem;
            
            }
        }
    }
    .mobile-nav.open{
        left: 0;
        
    }
}

@include breakpoint(Tablet){
    .navbar{
        @include displayStructure($flex-direction: column);
        .logo{ @include displayStructure($width:30%)}
        .menu{@include displayStructure($flex-direction:row);

            .menu-left{@include displayStructure($width:100%)}
            .menu-right{@include displayStructure($width:100%)}
            .hamburger{display: none;}
    }
}}


