@import '../../styles/Styles.scss';

.features{
    @include displayStructure(flex, column,$justify-content: center,$align-items: center,$text-align: center,$margin-top: 2rem);
    
    .features-heading{@include displayStructure($color: $secondary-color,$font-size: 2.5rem);
    font-weight: bold;}

    .feature-container{@include displayStructure($justify-content: space-evenly,$text-align: center,$max-width: 80%,$margin: 2rem auto,$color: $secondary-color);
        
        .feature-card{ @include displayStructure(flex,$justify-content: center);
            cursor: pointer;
        }
    }
    .card{

        .card-img{ @include displayStructure($padding: 10px,$max-width: 80%);
            border: 0.5px solid rgb(206, 203, 203)}

        .figure-title{ @include displayStructure($margin: auto,$max-width: 80%,$font-size: 1.2rem)}
    
    }   
}

@include breakpoint(Mobile){
    .features{
        margin-top: 3rem;
        .features-heading{@include displayStructure($font-size: 1.5rem);
            }
            .feature-container{
                .feature-card{@include displayStructure($flex-direction: column, $align-items:center)}
            }
    }
    .card{
        
        .feature-description{font-size: 12px;}
    }
}

@include breakpoint(Tablet){
    .features{
        margin-top: 2rem;
        .features-heading{@include displayStructure($font-size: 2rem);
            }
            .feature-container{
                .feature-card{@include displayStructure($flex-direction: column, $align-items:center)}
            }
    }
    .card{
        .card-img{width: 50%}
        .feature-description{font-size: 12px;}
    }
}
@include breakpoint(LargeScreen){
    .features{
        max-width: 115rem;
        margin: auto;
        .features-heading{@include displayStructure($font-size: 2.5rem);
            }
            .feature-container{
                max-width: 70%;
                .feature-card{@include displayStructure( $align-items:center)}
            }
    }
    .card{
        height: 30rem;
        .card-img{width: 75%; height:8rem}
        .feature-description{ margin: auto;}
    }
}

